:root {
  --primary-cyan: #17aabf;
  --dark-blue: #0e3b6e;
  --bg-soft-blue: #eef2f5;
  --error-red: #d32f2f;
  --white: #ffffff;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  margin-bottom: 0px; /* suspeito*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.voltar {
  position: absolute;
  left: -20px;
  bottom: -25px; 
  top: 25%; /* suspeito */
  transform: translateY(-50%);
  color: var(--dark-blue);
  padding: 5px;
  padding-bottom: 20px;
}

.voltar:hover {
  color: var(--primary-cyan);
}

.logo {
  width: 100%;
  height: auto;
  max-width: 290px;
  object-fit: contain;
  display: block;
}

.criar {
  color: var(--dark-blue);
  margin-bottom: 25px;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-container {
  position: relative;
  text-align: left;
}

.icons {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ddd;
  z-index: 2;
}

.input-field {
  width: 100%;
  height: 45px;
  padding: 10px 45px 10px 55px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: var(--bg-soft-blue);
  font-size: 20px;
  outline: none;
  transition: all 0.2s;
  color: #333;
  border-color: rgba(19, 121, 137, 0.3);
}

.input-field:focus {
  border-color: var(--primary-cyan);
  background: var(--white);
  box-shadow: 0 0 5px rgba(23, 170, 191, 0.3);
}

.input-field.error {
  border-color: var(--error-red);
  background: #fff5f5;
}

.mensagem-erro {
  color: var(--error-red);
  font-size: 0.75rem;
  margin-top: 4px;
  display: block;
}

.cadastrar {
  background-color: var(--primary-cyan);
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s, background 0.2s;
  margin-top: 10px;
}

.cadastrar:hover {
  background-color: #138e9f;
  transform: translateY(-1px);
}

.cadastrar:active {
  transform: translateY(0);
}

.rodape {
  margin-top: 25px;
  font-size: 0.9rem;
  color: #666;
   font-size: 20px;
}

.rodape a {
  color: var(--primary-cyan);
  text-decoration: none;
  font-weight: bold;
}

.rodape a:hover {
  color: #138e9f;
}

.olho {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 3;
    transition: opacity 0.2s;
}

